header {
    background-color: #232322;
}
ul {
    list-style: none;
    margin: 0;
    padding: 20px;
}
a {
    font-size: 33px;
    padding: 20px;
    color:white;
    text-decoration: none;
}
a:hover{
    color:#96d6fb;
    text-decoration: none;
}
li {
   display: inline;
}
h1 {
    font-size: 33px;
    text-align: center;
    background-color: #8cd1f8;
}
img {
    width: 100%;
}
.wrapper {
    margin: 100px auto;
    width: 70%;
}
.wrapper-item img {
    max-width: 330px;
    float: left;
    border: 3px solid #0d0d0d;
    border-radius:10px;
    margin-right: 15px;
}
.text-box {
    color: rgb(0, 0, 0);
}
.text-box h2 {
    font-size: 30px;
}
.text-box p {
    font-size: 20px;
}
.wrapper-item {
    display:flow-root;
    margin-bottom: 100px;
}
.footer {
    background-color: #232322;
    padding-top: 35px;
    padding-bottom: 60px;
    color:white;
}
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
.footer ul {
    display: flex;
    flex-direction: column;
}
.footer a {
    font-size: 33px;
    text-decoration: none;
    padding: 0%;
}
.footer li {
    margin-bottom: 15px;
}
.footer img {
    border-radius: 50%;
    border: 3px solid #ffffff;
    max-width: 200px;
    align-self: center;
}
.footer-copyright-name {
    display: flex;
    flex-direction: column;
}
.footer p {
    font-size: 25px;
    margin-bottom: 0%;
}
@media screen and (max-width: 1200px) {
    ul {padding: 20px;}
    a {font-size: 33px; padding: 20px;}
    h1 {font-size: 33px;}
    .wrapper-item img {max-width: 330px;}
    .text-box h2 {font-size: 30px;}
    .text-box p {font-size: 20px;}
    .footer a {font-size: 33px;}
    .footer p {font-size: 25px;}
    .footer img {max-width: 200px;}
}
@media screen and (max-width: 922px) {
    ul {padding: 18px;}
    a {font-size: 30px; padding: 28px;}
    h1 {font-size: 30px;}
    .wrapper-item img {max-width: 325px;}
    .text-box h2 {font-size: 25px;}
    .text-box p {font-size: 15px;}
    .footer a {font-size: 30px;}
    .footer p {font-size: 22px;}
    .footer img {max-width: 195px;}
}
@media screen and (max-width: 768px) {
    ul {padding: 15px;}
    a {font-size: 27px; padding: 14px;}
    h1 {font-size: 27px;}
    .wrapper-item img {max-width: 260px;}
    .text-box h2 {font-size: 22px;}
    .text-box p {font-size: 14px;}
    .footer a {font-size: 27px;}
    .footer p {font-size: 19px;}
    .footer img {max-width: 145px;}
}
@media screen and (max-width: 576px) {
    ul {padding: 10px;}
    a {font-size: 23px; padding: 10px;}
    h1 {font-size: 23px;}
    .wrapper-item img {max-width: 200px;}
    .text-box h2 {font-size: 18px;}
    .text-box p {font-size: 12px;}
    .footer a {font-size: 23px;}
    .footer p {font-size: 15px;}
    .footer img {max-width: 115px;}
}
